QLineEdit
{
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 15px;
    height:28px;
    color:#000000
}

QLineEdit[browseedit=false]
{
    background-color: rgb(239,146,179);
}


QLineEdit:disabled
{
    background-color: rgb(43,43,43);
    border: 1px solid rgb(29,29,32);
    border-radius: 3px;
    padding-left: 5px;
    color:#ffffff;
}

QLineEdit[portedit] {
    background-color: #FFFFFF;
    color:#000000;
    font-size: 16px;
}
QLineEdit[monitor] {
    color:#FFFFFF;
    font-size: 16px;
}

QLineEdit[noborderlineedit=true] {
    background-color: #1b1d20;
    color: #cccccc;
    border: none;
    border-radius: 0px;

}

QLineEdit[noborderlineedit=true]:hover {
    background-color: #1b1d20;
    color: #ffffff;
    border: 1px solid #999999;
}

QLineEdit[noborderlineedit=true]:pressed {
    background-color: #1b1d20;
    color: #ffffff;
    border: 1px solid #e2640c;
}

QLineEdit[noborderlineedit=true]:focus {
    background-color: #1b1d20;
    color: #ffffff;
    border: 1px solid #e2640c;
}





/*QLineEdit[alignname] {
    background-color: #FFFFFF;
    font-size: 15px;
    color:#000000
}
QLineEdit[alignname]:disabled
{
    background-color: rgb(35,37,42);
    border: 1px solid rgb(35,37,42);
    color:#ffffff;
}*/

QTextEdit{

    background-color:rgb(34,34,34); 
        border:2px solid rgb(22,22,22);
        color: #F2F2F2;
	selection-background-color: rgb(83,83,83);
}

QTextEdit[welderDetail]{

    background-color: transparent;
    border:none;
    font-size: 24px;
    padding-left:5px;
}

QTextEdit[nonebordertextedit]{
    background-color: transparent;
    border:none;
    font-size:15px;
    padding-left:0px;
    padding-top:0px;
}