/***QScrollBar Vertial***/
QScrollBar:vertical {
    background-color: transparent;
    width: 8px;
    margin: 2px;
    border: 1px transparent #070808;
    border-radius: 5px;
}

QScrollBar::handle:vertical {
    background-color: #5a5e66;
    min-height: 5px;
    border-radius: 5px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: none;
    height: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    background-color: #2A2929;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: none;
    height: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    background-color: #2A2929;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/*********************horizontal**********************/
QScrollBar:horizontal {
    background-color: transparent;
    width: 7px;
    height: 10px;
    margin: 2px;
    border: 1px transparent #070808;
    border-radius: 5px;
}

QScrollBar::handle:horizontal {
    background-color: #5a5e66;
    min-width: 5px;
    border-radius: 5px;
}

QScrollBar::sub-line:horizontal {
    margin: 0px /* 0px 3px 0px*/;
    border-image: none;
    height: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    background-color: #2A2929;
}

QScrollBar::add-line:horizontal {
    margin: 0px /* 0px 3px 0px*/;
    border-image: none;
    height: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    background-color: #2A2929;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollArea {
	background-color:transparent;
    border: none;
    margin: 0px;
}